<div class="vista">
  <div class="vista-header">
    <div class="vista-header-titulo">
      <mat-icon>group</mat-icon>
      <h1>Autores</h1>
    </div>
    <button mat-stroked-button color="primary" class="boton-agregar boton" (click)="openDialog()">Agregar autor</button>
  </div>
  <mat-form-field style="width: 100%; min-width: 350px;" appearance="fill">
    <mat-label>Buscar</mat-label>
    <input style="min-width: 350px;" #buscarAutor (keyup)="buscarAutores(buscarAutor.value)" matInput placeholder="Buscar...">
  </mat-form-field>
  <table style="width: 100%; min-width: 350px; overflow: auto;" mat-table [dataSource]="autoresTable" class="mat-elevation-z8 demo-table">
    <!-- Columna nombre del autor -->
    <ng-container matColumnDef="nombreAutor">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Nombre autor</th>
      <td class="table-header" mat-cell *matCellDef="let element">{{element.nombreAutor}}</td>
    </ng-container>

    <!-- Columna cantidad de libros -->
    <ng-container matColumnDef="cantidadLibros">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Cant. Libros</th>
      <td class="table-header" mat-cell *matCellDef="let element">{{element.cantidadLibros}}</td>
    </ng-container>

    <!-- Columna de opciones -->
    <ng-container matColumnDef="opciones">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Opciones</th>
      <td class="table-header" mat-cell *matCellDef="let element">
        <button mat-stroked-button [matMenuTriggerFor]="menu">Opción</button>
        <mat-menu #menu="matMenu">
          <button (click)="formActualizar(element)" style="color: black; font-size: 15px;" mat-menu-item><mat-icon style="color: black; font-size: 15px;">border_color</mat-icon>Editar</button>
          <button (click)="eliminarAutor(element)" style="color: black; font-size: 15px;" mat-menu-item><mat-icon style="color: black; font-size: 15px;">delete</mat-icon>Eliminar</button>
        </mat-menu>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: columnas;"
    ></tr>
  </table>
  <mat-paginator style="width: 100%; min-width: 350px;" [length]="totalRegistros"
    [pageSizeOptions]="[10, 25, 40]"
    aria-label="Seleccionar página"
    showFirstLastButtons="true"
    (page)="cambiarPagina($event)">
  </mat-paginator>
</div>
